<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
        Cadastrar 
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content >
  <form [formGroup]="fGroup">

    <ion-list>

  <ion-item>
    <ion-label position="floating">Marca</ion-label>
    <ion-input type="text" [(ngModel)]="cadastro.marca" formControlName="marca" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Modelo</ion-label>
    <!--<ion-input type="text" [(ngModel)]="cadastro.modelo" placeholder="Modelo" formControlName="modelo"></ion-input>-->
    <ion-input type="text" [(ngModel)]="cadastro.modelo" formControlName="modelo"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Placa</ion-label>
    <ion-input type="text" [(ngModel)]="cadastro.placa" formControlName="placa"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Cor</ion-label>
    <ion-input type="text" [(ngModel)]="cadastro.cor" formControlName="cor"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Ano</ion-label>
    <ion-input type="number" [(ngModel)]="cadastro.ano" formControlName="ano"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Chassi</ion-label>
    <ion-input type="text" [(ngModel)]="cadastro.chassi" formControlName="chassi"></ion-input>
  </ion-item>
</ion-list>

</form>

</ion-content>

<ion-footer>
<ion-toolbar>
  <ion-button (click)="saveCadastro()" expand="block">
    Salvar 
  </ion-button>
</ion-toolbar>
</ion-footer>