<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>

    </ion-buttons>
    <ion-title>
      Controle de Custo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>




  <!-- The reorder gesture is disabled by default, enable it to drag and drop items -->
  <ion-reorder-group *ngFor="let alerta of alerta" disabled="false">
    <!-- Default reorder icon, end aligned items -->
  
  
  
    
  
  
  
  
        <ion-card color="light">  
          <ion-item color="medium">
            <ion-icon name="md-alarm"  color="dark" ></ion-icon>
            <ion-label  class="col text-center" >{{ alerta.descricao }} </ion-label>
            <ion-button fill="outline" slot="end">New</ion-button>
          </ion-item>
        
          <ion-card-content>
  
            <p>Faltam  {{ alerta.dias }} Dias para troca do {{ alerta.descricao }} . <p> 
       
            <br>Data do Cadastro <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="alerta.ultimadata"> </ion-datetime>
     
          </ion-card-content>
        </ion-card>
  
        
  
  
  
  
    <!-- copia-->
  
  
  
   
  </ion-reorder-group>
  
  
  
  
  
  
  
  <ion-card    >  
    <ion-item color="light" >
      <ion-icon name="md-grid"  color="dark" ></ion-icon>
      
      Total de Gastos dos veiculos
    </ion-item>
  
    <ion-card-content>
  
  
        <ion-item> Total Abastecimento</ion-item>  <ion-item > {{ totalAbast }}</ion-item>
       
  
        <ion-item> Total Manutenção</ion-item>  <ion-item > {{ totalMnt }}</ion-item>
     
  
    </ion-card-content>
  </ion-card>
  
  
  </ion-content>
  
  
  <ion-footer>
    <ion-toolbar>
      <ion-grid>
        
        <ion-row  class="ion-align-items-center">
  
          <ion-col size="12">
            <ion-button routerLink="/alerta" expand="block">
              Cadastrar Alerta
            </ion-button>
          </ion-col>
  
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-footer>
  
  
  