<ion-header>


  <ion-toolbar color="warning">
    <ion-button  shape="round" color="dark" (click)="loadMap()">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-icon slot="start" name="locate"></ion-icon>
      atualiza
    </ion-button>
    <ion-title slot="end">Google Map</ion-title>
  </ion-toolbar>

  <!--<ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar> -->

</ion-header>

<ion-content>

  <div class="map-wrapper">
    <div id="map_center">
      <img src="assets/icon/location-marker.png" />
    </div>
    <div #map id="map"></div>
  </div>
  
  
  <!--<ion-list>
    <ion-item>
      <ion-label color="primary">Latitude</ion-label>
      <ion-label color="danger">{{latitude}}</ion-label>
    </ion-item>
    <ion-item>
  <ion-label color="primary">Longitude</ion-label>
  <ion-label color="danger">{{longitude}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="primary" >Speed</ion-label>
      <ion-label color="secondery" >{{speed}}</ion-label>
    </ion-item>
  </ion-list>-->

  <script>
    const arrow = document.querySelector('.arrow');
    const speed = document.querySelector('.speed-value');

    navigator.geolocation.watchPosition((data)=> {
      console.log(data);
      speed.textContent = data.coords.speed;
    });

    </script>

</ion-content>
