<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Abastecimentos
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <form [formGroup]="fGroup">
  <ion-list>

    <ion-item>
      <ion-label position="floating">Data</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="abastecimentos.data" formControlName="data"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Odometro</ion-label>
      <ion-input type="number" [(ngModel)]="abastecimentos.odometro" formControlName="odometro"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Preço Litro</ion-label>
      <ion-input type="number" [(ngModel)]="abastecimentos.precolitro" formControlName="precolitro"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Valor Total</ion-label>
      <ion-input type="number" [(ngModel)]="abastecimentos.valortotal" formControlName="valortotal"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Litros</ion-label>
      <ion-input type="number" [(ngModel)]="abastecimentos.litros" formControlName="litros"></ion-input>
    </ion-item>
  </ion-list>

</form>

  
    <ion-select  placeholder="Veiculo" value="brown" okText="Salvar" cancelText="Cancelar"  >
      <ion-select-option *ngFor="let cadastro of cadastros">Placa : {{ cadastro.placa }}</ion-select-option>
    </ion-select>
 

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="saveAbastecimentos()" expand="block">
      Salvar
    </ion-button>
  </ion-toolbar>
</ion-footer>