<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Abastecimentos
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-list>

    <ion-item>
      <ion-input type="text" [(ngModel)]="abastecimentos.data" placeholder="data"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="abastecimentos.odometro" placeholder="odometro"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="abastecimentos.combustivel" placeholder="combustivel"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="abastecimentos.precolitro" placeholder="precolitro"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="abastecimentos.valortotal" placeholder="ValorTotal"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="abastecimentos.litros" placeholder="litros"></ion-input>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-select placeholder="Veiculo" value="brown" okText="Salvar" cancelText="Cancelar" [(ngModel)]="abastecimentos.cadastro">
      <ion-select-option *ngFor="let cadastro of cadastros">Placa : {{ cadastro.placa }}</ion-select-option>
    </ion-select>
  </ion-item>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="saveAbastecimentos()" expand="block">
      Salvar
    </ion-button>
  </ion-toolbar>
</ion-footer>